@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  input,
  button,
  select,
  textarea,
  [tabindex] {
    @apply focus:outline-none focus:ring;
  }
}

@layer utilities {
  .full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .reset-bleed {
    width: auto;
    margin-left: 0px;
  }
}
